<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.TitleDPN Admin Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/inettuts.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="~/Content/css/popup.css" rel="stylesheet" />
    <link href="~/Content/css/button.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div class="container body-content" id= "myCtrl" ng-controller="MyController">
        @RenderBody()
        <footer></footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
    <script src="~/Scripts/jquery-ui-personalized-1.6rc2.min.js"></script>
    <script src="~/Scripts/inettuts.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/cookie.jquery.js"></script>

</body>
</html>
